

#caseStyleUser {
    background:#f7f7f7;
    border:1px solid #cccccc;
    margin:10px;
    padding:10px;
}

#caseStyleContact {
    background:#DEDEDE;
    border:1px solid #cccccc;
    margin:10px;
    padding:10px;
}

#caseStyleInternal {
    background:#C5D8D8;
    border:1px solid #cccccc;
    padding:10px;
    margin: 10px 60px 10px 10px;
}

.caseUpdateImage {
    margin:0 5px 0 0;
}

.caseUpdate{
    margin:5px 0 0 15px;
}

#extramargin {
    margin: 0 0 0 50px;
}

#lessmargin {
    margin: 0 50px 0 0;
}

